{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block header_nav %}
<nav class="ch-header__nav">
    <a href="{{ path('app_logout') }}">Abmelden</a>
</nav>
{% endblock %}

{% block body %}
<div class="ch-card">
    <h1 style="margin-top:0;">Willkommen, {{ app.user.userIdentifier }}!</h1>
</div>
{% endblock %}
